.btn-work a .buttn{
    width: 100%;
    max-width: 250px;
    height: 78px;
    border: 1px solid #333333;
    border-radius: 0px 10px;
    overflow: hidden;
    position: relative;
    display: block;
}
.text_but{
    font-family: 'Sarpanch';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
    transition: all .3s ease-in-out;
    
}
.buttn .bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -13px;
    top: 0;
    transition: all .3s ease-in-out;
    transform: skewX(-19deg);
    background-color: #333333;
    z-index: 1;
}
.buttn:hover span.bg{
    width: 114%;
}
.buttn:hover span.text_but{
    color: white;
}
/* .my-contact .social-block .social-send a .btn-social{
    width: 100%;
    height: 78px;
    border: 1px solid #333333;
    border-radius: 0px 10px;
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 279px;
    margin: 0 auto;
}
.my-contact .social-block1 .social-send a .btn-social{
    width: 100%;
    height: 78px;
    border: 1px solid #333333;
    border-radius: 0px 10px;
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 279px;
    margin: 0 auto;
}
.my-contact .social-block2 .social-send a .btn-social{
    width: 100%;
    height: 78px;
    border: 1px solid #333333;
    border-radius: 0px 10px;
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 279px;
    margin: 0 auto;
} */
/* .btn-social .backgr{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -13px;
    top: 0;
    transition: all .3s ease-in-out;
    transform: skewX(-19deg);
    background-color: #333333;
    z-index: 1;
}
.btn-social:hover span.backgr{
    width: 114%;
}
.btn-social:hover span.text_more{
    color: white;
} */
.contact-form form button .btn-contact{
    width: 100%;
    /* max-width: 450px; */
    height: 78px;
    border: 1px solid #333333;
    border-radius: 0px 10px;
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 279px;
    margin: 0 auto;
}
.btn-contact .backgr{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -13px;
    top: 0;
    transition: all .3s ease-in-out;
    transform: skewX(-19deg);
    background-color: #333333;
    z-index: 1;
}
.btn-contact:hover span.backgr{
    width: 114%;
}
.btn-contact:hover span.text_more{
    color: white;
}
.my-portfolio span.text_more{
    color: #333333;
}
.button-propose span.text_more{
    color: #333333;
}
.text-portfolio .portfolio-more a .pinner{
    width: 100%;
    /* max-width: 450px; */
    height: 78px;
    border: 1px solid #333333;
    border-radius: 0px 10px;
    overflow: hidden;
    position: relative;
    display: block;
}
.pinner .backgr{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -13px;
    top: 0;
    transition: all .3s ease-in-out;
    transform: skewX(-19deg);
    background-color: #333333;
    z-index: 1;
}
.form-input span::after{
    background: #333333;
}
.pinner:hover span.backgr{
    width: 114%;
}
.pinner:hover span.text_more{
    color: white;
}
.slide{
    border-top: 2px solid #333333;
}
.header-logo h1{
    color: #333333;
}
.header-links .home a{
    color: #333333;
}
.header-links .about a{
    color: #333333;
}
.header-links .skills a{
    color: #333333;
}
.header-links .works a{
    color: #333333;
}
.header-links .blog a{
    color: #333333;
}
.header-social a{
    color: #333333;
}
.main-text h1{
    color: #333333;
}
.text-portfolio h1{
    color: #333333;
}
.my-skills-text h1{
    color: #333333;
}
.work-pattern{
    color: rgba(94, 87, 87, 0.486);
}
.blog-pattern{
    color: rgba(94, 87, 87, 0.486);
}
.contact-form h1{
    color: #333333;
}
.more-for-blog a{
    color: #333333;
}